.custab {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

.custab:hover {
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

td {
    width: 150px;
    text-align: center;
    border: 2px solid white;
    padding: 5px;
  }

.main {
    width: 100%;
    background-color: black;
    color: white;
    width: auto;
    height: 100%;
}

.main table {
    width: 100%;
    height: 100%;
}

.btn {
    margin: 10px
}

.btnActive {
    background-color: lightgreen;
    margin-left: 10px;
    font-weight: bold;

}

.btnUnActive {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    margin-left: 7px;
}

.row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}



.search input {
    margin: 20px;
    width: 500px;
}
.search-btn{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    background-color:#61d1e1;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    
}
.create-button{
    width: 30%;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #ffcb53;
    color: black;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.mat-paginator{
    color: white;
    width: 100%;
    border-radius: 30px;
    background-color: #61d1e1;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
}
.mat-paginator .cdk-overlay-pane{
    font-size: 24px;
    color: white;
    
}

.btns-menageList {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    margin-bottom: 50px;
}
.delete-btn{
    background-color: #ff0046;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    margin: 5px;
    color: white;
    font-weight: bold;
justify-content: space-between;
}
.edit-btn{
    background-color: #61d1e1;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.btns-options {
    display: flex;
    justify-content: space-between;
}

.container {
    color: white;
    text-align: center;
}

.container h1 {
    padding: 0 0 20px;
    color:white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container .span{
    padding: 0 0 20px;
    color:#ffcb53;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-xlarge{
    color:white;
    font-weight: bold;
}
table{
    color: white;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
        border-spacing: 20px 0;
}

.back button{
    width:100px;
    height: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
