.page {
    height: 100%;
    background-color: black;
}

.page-header {
    height: 80px;
    line-height: 80px;
    color: rgb(246, 246, 246);
    background-color: #61d1e1;
    display: flex;
    justify-content: center;
    margin: auto;
}

label {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black
}
.input{
    display: flex;
    justify-content: space-between;
}

h1 {
    font-weight: 900;
    position: relative;
    font-size: 2em;
    color: black;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.header-inside{
    font-weight: 900;
    position: relative;
    font-size: 2em;
    color: black;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-content {
    height: calc(100% - 80px);
    display: flex;
    justify-content: space-around;
}

.page-content .quiz-reguster {
    background: #d6c9c9;
    width: 60%;
    margin: 20px;
    display: grid;
    border-radius: 30px;
    justify-content: space-around;
    font: -webkit-small-control;
    align-content: space-evenly;
}

.page-footer {
    height: 80px;
}


.btn {
    font-size: 20px;
    border-radius: 20px;
    inline-size: -webkit-fill-available;
    background-color: #61d1e1;
    box-shadow: 0px 0px 20px #000, 0px 0px 20px #61d1e1
    
}