
.page {
    height: 100%;
    background-color: black;
}

.page-header{
    height: 80px;
    line-height: 80px;
    color: rgb(246, 246, 246);
    background-color:  #61d1e1;
    margin: auto;;
    text-align: center;
    border-top: 20px;
}
.quiz-preview{
    text-align: center;
}
h3,h4{
    margin-top: 20px;
        font-weight: 900;
        position: relative;
        font-size: 2em;
        color: black;
        z-index: 1;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page-header h1{
        font-weight: 900;
        position: relative;
        font-size: 4em;
        color: white;
        z-index: 1;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-content{
    height: calc(100% - 160px);display: flex;
}

.page-content .quiz-preview {
    background: #d6c9c9;
    width: 50%;
    height: 80%;
    margin: auto;
    display: grid;
    border-radius: 30px;
    justify-content: center;
}

.page-footer{
    height: 80px;
}


.btn{
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #61d1e1;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #61d1e1
    
}