<div class="main">
    <div class="content">
        <div class="headline">
            <h1>Welcome To Quiziii</h1>
            <h3>The Only Place You Can Manage Your Quizes In The Right WAY, Or Maybe Taking A quiz ?
            </h3>
        </div>
        <div class="options">
            <div>
                <button (click)="GoToAdminPage()">Enter As A Admin</button>
            </div>
            <div>
                <button (click)="GoToRegisterQuiz()">Start Quiz</button>
            </div>
        </div>
    </div>
</div>