<div class="report-query h-100 w-100">

  <div class="box">

    <div class="box-group">
      <div class="label">Select Test:</div>
      <div class="input">
        <select [value]="''" class="Options" [(ngModel)]="selectesQuiz">
          <option value="" selected disabled hidden> Please choose quiz </option>
          <option *ngFor="let quiz of filteredQuizes" [value]="quiz.Id">{{quiz.Name}}</option>
        </select>
      </div>
    </div>

    <div class="box-group">
      <div class="label">Date Range:</div>
      <div class="input">


        <div class="range-group">
          <div class="label">From:</div>
          <div class="datapicker">
            <input type="date" [(ngModel)]="from">
          </div>
        </div>

        <div class="range-group">
          <div class="label">To:</div>
          <div class="datapicker">
            <input type="date" [(ngModel)]="to">
          </div>
        </div>

      </div>
    </div>

    <div class="box-group btns">
      <button class="btn btn-primary">Back</button>
      <button class="btn btn-primary" (click)="onGenerateReport()">Generate Report</button>
    </div>

  </div>

</div>