<div class="report-question-quiz h-100 w-100">

  <div class="header">Question Statistics</div>

  <div class="text">Click a question to show statistics regarding its answers, then click the answers to see which answer each
    respondent selected.
    You can use the following butions to do the same with all the questions in the list
  </div>

  <div class="label">Filter by tags or content <input>    Filtered 15 of total 15</div>


  <div class="btns">
    <button class="btn btn-primary">Show answer statistics of all question</button>
    <button class="btn btn-primary">Show detailled report of all answers</button>
  </div>

  <div class="">
    <table class="table table-striped">
      <thead>
        <tr class="header-table">
          <th scope="col">ID</th>
          <th scope="col">Question</th>
          <th scope="col">Number Of Submissions</th>
          <th scope="col">% Answered Correctly</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>