.login-box {
    width: 460px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 70px;
    border-radius: 30px;
}
.main{
    width: 100%;
    height: 100%;
    background-color: #000;
}


.login-icon-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin-top: 20px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box p {
    margin: 0;
    border: 0;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

    .login-box input[type="text"], input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }

    .login-box input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        border-radius: 20px;
        background: #fb2525;
        box-shadow: 0px 0px 5px white, 0px 0px 15px #fb2525;
    }

        .login-box input[type="submit"]:hover {
            transform: scale(1.3);
            transition: .4s;
            cursor: pointer;
            box-shadow: 0px 0px 5px white, 0px 0px 15px #fb2525;
        }

#a-style-css {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

    #a-style-css:hover {
        color: #f9004d;
        transition: .4s;
    }
